<div class="l-container-fluid u-bg-secondary u-padding--h-none" style="height:100%">
  <div class="u-bg-black u-padding--v-xlg">
    
  </div>
  <div class="u-padding--tp-xlg u-content--center" style="z-index: -1; margin-top: -346px;">
    <!--CARD HERE-->
      <div class="c-card u-text--centered" style="width: 50%; margin: auto;">
        <div class="c_card__header u-bg-black-trans">
          <img *ngIf="userResult.picture.large" [src]="userResult?.picture.large" class="u-border u-margin--v-sm u-image--128 u-image--rounded" alt="placeholder image"/>
        </div>
        <div class="c-card__content">
          <u-tabs>
            <u-tab icon="./assets/icons/svg/misc/user.svg">
              <h3 class="c-card__subtitle u-margin--none">Hi, my name is</h3>
              <h2 class="c-card-title u-text--lg">{{userResult?.name.first + ' ' + userResult?.name.last}}</h2>
            </u-tab>
            <u-tab icon="./assets/icons/svg/misc/email.svg">
              <h3 class="c-card__subtitle u-margin--none">My Email is</h3>
              <h2 class="c-card-title u-text--lg">{{userResult?.email}}</h2>
            </u-tab>
            <u-tab icon="./assets/icons/svg/misc/calendar.svg">
              <h3 class="c-card__subtitle u-margin--none">My birthday is</h3>
              <h2 class="c-card-title u-text--lg">{{userResult?.dob.date | date:'dd/mm/yyyy' }}</h2>
            </u-tab>
            <u-tab icon="./assets/icons/svg/misc/map-location.svg">
              <h3 class="c-card__subtitle u-margin--none">My address is</h3>
              <h2 class="c-card-title u-text--lg">{{userResult?.location.street.number + ' ' + userResult?.location.street.name }}</h2>
            </u-tab>
            <u-tab icon="./assets/icons/svg/misc/call.svg">
              <h3 class="c-card__subtitle u-margin--none">My phone number is</h3>
              <h2 class="c-card-title u-text--lg">{{userResult?.phone}}</h2>
            </u-tab>
            <u-tab icon="./assets/icons/svg/misc/locked.svg">
              <h3 class="c-card__subtitle u-margin--none">My password is</h3>
              <h2 class="c-card-title u-text--lg">{{userResult?.login.password}}</h2>
            </u-tab>
          </u-tabs>
        </div>
      </div>
  </div>
</div>